.content{
    width: 60%;
    margin: 1rem auto auto auto;
}

.title{
    text-align: center;
    margin-bottom: 3rem;
}

.title h1{
    font-size: 2rem;
    color: rgb(212, 207, 207);
    font-weight: 500;
}

.table{
    width: 100%;
}

.button{
    margin-bottom: 1rem;
}

.livros{
    color: rgb(37, 125, 240);
}

.edit{
    color: rgb(206, 173, 24) ;
    
}

.delete{
    color: rgb(228, 56, 56);
    
}

.mat-header{
    width: 5rem;
}